/* BACKGROUND */

#background {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bgimg {
  width: 100%;
}

#computer {
  position: absolute;
  top: 7%;
  right: 17%;
  width: 25%;
}

#cp {
  position: absolute;
  top: 25%;
  right: 50%;
  width: 15%;
}

#you {
  position: absolute;
  width: 15%;
  bottom: 100px;
  left: 20%;
}

/* PANEL */

.panel {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 97%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px;
}

#panel {
  background-color: #62aba4;
  border: 5px ridge #e43f2b;
}

.text {
  font-family: monospace;
  font-size: 16pt;
  padding: 10px;
}

#maintext {
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* ATTACK BOX */

#attackbox {
  background-color: white;
  border: 5px ridge black;
}

#attacks {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 97%;
}

li {
  list-style-type: none;
  float: left;
  color: #3c3c3c;
}

li:hover {
  list-style-type: disclosure-closed;
}

.choice {
  position: relative;
  left: -20px;
  padding-right: 10vw;
}

.choice:hover {
  text-shadow: 0 0 1px gray;
}

